my-config.json
wallets.py
.venv
env
__pycache__
.env
.blockstore/
Session.vim
mywallets/
w/
db/
*.log
*.zip
analyze.py
send_c5.py
mnemonic.txt
logger-code.boc
log/
configs/*
!configs/mainnet.json
!configs/testnet.json
monitors.json
.vscode
test.py
dev/
.DS_Store
monitors-mainnet.json
