{
    "cli": true,
    "db_backend": "sqlite",
    "clickhouse_host": "localhost",
    "clickhouse_port": 9000,
    "clickhouse_user": "default",
    "clickhouse_password": "",
    "clickhouse_database": "delivery_monitor",
    "monitors": [
        {
            "enabled": true,
            "provider": "liteserver",
            "wallets": "mywallets/w-c5-1.txt",
            "config": "configs/testnet.json",
            "dbname": "ls",
            "to_send": 10,
            "with_state_init": false
        },
        {
            "enabled": true,
            "provider": "tonapi",
            "tonapi_key": "...",
            "wallets": "mywallets/w-c5-1.txt",
            "dbname": "ls",
            "out_dbname": "tonapi-detects-ls"
        },
        {
            "enabled": false,
            "provider": "toncenter",
            "wallets": "mywallets/w-c5-2.txt",
            "toncenter_api_url": "https://testnet.toncenter.com/api/v2/",
            "toncenter_api_key": "...",
            "dbname": "tc"
        },
        {
            "enabled": true,
            "provider": "tonapi",
            "wallets": "mywallets/w-c5-3.txt",
            "testnet": true,
            "tonapi_key": "..."
        },
        {
            "enabled": false,
            "provider": "toncenter_streaming_ws",
            "wallets": "mywallets/w-c5-4.txt",
            "toncenter_api_url": "https://toncenter.com/api/v3/",
            "toncenter_api_key": "...",
            "dbname": "tc-streaming-ws",
            "to_send": 10,
            "extra_msg_boc": "b5ee9c72...",
            "target_action_type": "ton_transfer"
        }
    ]
}
