{
    "cli": true,
    "valid_until_timeout": 40,
    "send_interval": 40,
    "db_backend": "sqlite",
    "clickhouse_host": "localhost",
    "clickhouse_port": 9000,
    "clickhouse_user": "default",
    "clickhouse_password": "",
    "clickhouse_database_mainnet": "dm_mainnet",
    "clickhouse_database_testnet": "dm_testnet",
    "session_stats_enabled": false,
    "session_stats_host": "localhost",
    "session_stats_port": 9000,
    "session_stats_user": "user",
    "session_stats_password": "abcde",
    "session_stats_database_testnet": "session_stats_testnet_v2",
    "session_stats_validator_adnls": [
        "9835BBF9637BD12A50B1F5F90DEB4E0C53A95BACE3081C7B7037FA13EAC48A92",
        "794993420B1B72C6F73B26C577FEAF63936B2AABF4548A2C1B7D2C9028C3E681",
        "151CDD00CCA9C3A4A2D7E4FED39DACBF3A0738AF17A892CFF2854DDA5A112718",
        "63D851287431C3B28EC2CBF29ADCB05E5135A6FEEE32CDFF96CE99ED6BF7C73C",
        "A93E500F133458B844AAAD0EFA55C284B057F555FD6F60A0A0649808E82734C7",
        "255801D2220221957B7E954C908E69DD779D2D7A67882C177B589C238D605E20"
    ],
    "monitors": [
        {
            "enabled": true,
            "provider": "liteserver",
            "wallets": "mywallets/w-c5-1.txt",
            "config": "configs/testnet.json",
            "dbname": "ls",
            "to_send": 10,
            "with_state_init": false
        },
        {
            "enabled": true,
            "provider": "tonapi",
            "tonapi_key": "...",
            "wallets": "mywallets/w-c5-1.txt",
            "dbname": "ls",
            "out_dbname": "tonapi-detects-ls"
        },
        {
            "enabled": false,
            "provider": "toncenter",
            "wallets": "mywallets/w-c5-2.txt",
            "toncenter_api_url": "https://testnet.toncenter.com/api/v2/",
            "toncenter_api_key": "...",
            "dbname": "tc"
        },
        {
            "enabled": true,
            "provider": "tonapi",
            "wallets": "mywallets/w-c5-3.txt",
            "testnet": true,
            "tonapi_key": "..."
        },
        {
            "enabled": false,
            "provider": "toncenter_streaming_ws",
            "wallets": "mywallets/w-c5-4.txt",
            "toncenter_api_url": "https://toncenter.com/api/v3/",
            "toncenter_api_key": "...",
            "dbname": "tc-streaming-ws",
            "to_send": 10,
            "extra_msg_boc": "b5ee9c72...",
            "target_action_type": "ton_transfer"
        }
    ]
}
