# rename to wallets.py

wallets = [
    {
        "addr": "EQAWgUoE0qsUDUJMJXH25H__mATCdGkhVDQtCw06nOqXoDJ9",
        "seed": "aaaaaaaaaa30d3d04bbf6e1bbbbbbbbbbbbbbbbbbbbbbb12bab1d0ae1deccccc",
        "wallet": None,
        "sk": None,
    },
]
