[Unit]
Description=External messages delivery monitor for TON API endpoints.
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/victor/delivery-monitor
ExecStart=/home/victor/delivery-monitor/.venv/bin/python3.10 /home/victor/delivery-monitor/start.py
KillMode=process
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target

